$font-stack: 'Segoe UI', sans-serif;
$grey-light: #ddd;

body {
  font-family: $font-stack;
}

.row {
  margin-bottom: 5px;
  text-align: center;
}

.row:last-child {
  margin-bottom: auto;
  margin-right: auto;
}

.key {
  border: 1px solid $grey-light;
  display: inline-block;
  padding: 15px 20px 15px 20px;
  margin-right: 5px;
  border-radius: 5px;
}

.key:hover {
  cursor: pointer;
  background-color: $grey-light;
}

.clear {
  display: inline-block;
  float: right;
  font-size: 0.7em;
  color: darken($grey-light, 50%);
  padding: 0.5px 3px 0.5px 3px;
  border-radius: 5px;
  border: 1px solid $grey-light;
  margin-right: 2px;
}

.clear:hover {
  background-color: $grey-light;
  cursor: pointer;
}

.controls {
  padding-bottom: 10px;
}

.keyboard {
  
}

.display {
  border: 1px solid $grey-light;
  border-radius: 5px;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
}

.calc {
  border: 1px solid $grey-light;
  border-radius: 5px;
  padding: 10px;
  max-width: 300px;
  min-width: 200px;
  display: inline-block;
  margin: 10px;
}

.container {

}